body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: #313040;
    color: #fff;
    box-sizing: border-box;
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8em;
    cursor: default;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    cursor: default;
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3em;
    cursor: default;
}

em {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.3em;
    cursor: default;
}

p {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    cursor: default;
}
